.cont-form-admin{
	margin-left: 20px;
	margin-right: 20px;
}

.cont-menu-admin{
	width: 100%;
	background-color: #B6E4B7;
}
.menu-admin{
	overflow-y: hidden;
	margin: 0px auto;
	padding: 0px;
	width: 500px;
}
.menu-admin li{
	list-style: none;
	float: left;
	margin: 20px;
	text-decoration: none;
	color: #183641;
}
.menu-admin li:hover{
	color: #205569;
}