.tweet{
	padding: 10px 10px;
	color: rgb(11, 36, 45);
	overflow: hidden;
}
.border-tweet{
	border-bottom: 1px solid #00263A;
}
/*importancia del tweet*/
.tweet.im1{
	background-color: rgba(0,0,0,0.05);
}
.tweet.im1:hover{
	background-color: rgba(0,0,0,0.075);
}
.tweet.im2{
	background-color: rgba(255,0,0,0.05);
}
.tweet.im2:hover{
	background-color: rgba(255,0,0,0.075);
}
.tweet.im3{
	background-color: rgba(255,0,0,0.1);
}
.tweet.im3:hover{
	background-color: rgba(255,0,0,0.125);
}
.tweet.im4{
	background-color: rgba(255,0,0,0.15);
}
.tweet.im4:hover{
	background-color: rgba(255,0,0,0.175);
}
.tweet.im5{
	background-color: rgba(255,0,0,0.2);
}
.tweet.im5:hover{
	background-color: rgba(255,0,0,0.225);
}
.tweet.rt1{
	background-color: rgba(36, 255, 3, 0.05);
}
.tweet.rt1:hover{
	background-color: rgba(36, 255, 3, 0.1);
}
.tweet.rt2{
	background-color: rgba(36, 255, 3, 0.1);
}
.tweet.rt2:hover{
	background-color: rgba(36, 255, 3, 0.15);
}
.tweet.rt3{
	background-color: rgba(36, 255, 3, 0.15);
}
.tweet.rt3:hover{
	background-color: rgba(36, 255, 3, 0.2);
}
.tweet.rt4{
	background-color: rgba(36, 255, 3, 0.2);
}
.tweet.rt4:hover{
	background-color: rgba(36, 255, 3, 0.25);
}
.tweet.rt5{
	background-color: rgba(36, 255, 3, 0.3);
}
.tweet.rt5:hover{
	background-color: rgba(36, 255, 3, 0.35);
}
/************************/

.delimitador{
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,0.2);
}
.tweet .tweet-text{

}
.tweet .contenedor-rf{
	overflow: hidden;
	margin-top: 10px;
}

.tweet .contenedor-rf .retweet-count{
	float: left;
	background-color: rgba(209, 237, 248, 1);
	margin-left: 10px;
	width: 40px;
	display: block;
	text-align: center;
	height: 25px;
	line-height: 25px;
	
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}
.tweet .contenedor-rf .fav-count{
	float: left;
	background-color: #F4F697;
	width: 40px;
	display: block;
	text-align: center;
	height: 25px;
	line-height: 25px;
	
	-webkit-border-radius: 20%;
	-moz-border-radius: 20%;
	border-radius: 20%;
}
/*links*/
.tweet a.link{
	color: #20566e;
}
.tweet a.user{
	color: #4699b7;
}
/*imagen en la busqueda*/
.img_busqueda{
	height: 100px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.cont-tweet{
	float: left;
	width: 92%;
}

.cont-user-img {
	float: left;
	width: 6%;
	margin-right: 1%;
}

.cont-user-img img{
	width: 100%;
	height: auto;
	margin-right: 10px;
}

.cont-usr{
	margin-bottom: 8px;
}
.cont-usr a{
	text-decoration: none;
	color: #0B242D;
}

.cont-multi{
	margin-top: 10px;
}

h3{
	text-align: center;
}

#progress_bar{
	width: 50px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

