/*.color1{
	color: #183641;
}

.color2{
	color: #20566e;
}

.color3{
	color: #4699b7;
}

.color4{
	color: #6db3bf;
}

.color5{
	color: #94cfc9;
}

.color6{
	color: #cee9f4;
}*/


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	/*font-family: "Times New Roman", Times, serif;*/
	font-family: Helvetica;
}
input[type="submit"]{
	border:none;
}
a, img{  border-style: none;
	  	border:0;
	  	outline:none;
	  }
a {
  text-decoration:none;
  color: inherit;
}

html, body, h3{
	margin: 0px;
	padding: 0px;

}
body{
	background-color: rgba(236, 236, 236, 1);
}
.header{
	width: 100%;
	height: 80px;
	background-color: #183641;
	margin-top: 0px;
}
.header-cont{
	width: 260px;
	height: 100%;
	float: left;
	margin: 0px;
	padding: 0px;
}
.mid-cont{
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0px auto;
}
.header-cont{
	list-style: none;

}

/*menu header*/
.user-header-cont{
	float: left;
	margin-top: 12px;
	margin-left: 25px;
}
.user-header-cont a{
	text-decoration: none;
	color: #94cfc9;
}
.user-header-cont a:hover{
	color: #6db3bf;
}
.user-header-cont img {
	float: left;
	width: 40px;
	height: auto;
	margin-top: 10px;
	margin-right: 15px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.user-header-cont h4{
	float: left;
	color: #94cfc9;
}

nav ul{
	list-style: none;
	position: relative;
	/*display: inline-table;*/
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
nav ul li {
	float: left;
}	
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
	nav ul:after {
		content: ""; 
		clear: both; 
		display: block;
	}

	nav ul ul {
		background-color: rgba(236, 236, 236, 1);
		border-radius: 0px; 
		padding: 0;
		position: absolute; top: 80%;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
		padding: 7px;
	}
		nav ul ul li {
			float: none; 
			border-bottom: 1px solid rgba(0,0,0,0.06);
			position: relative;

		}
			nav ul ul li a {
				text-decoration: none;
				color: #183641 !important;
			}	
				nav ul ul li a:hover {
					color: #20566e !important;
				}

/*content*/
.mid{
	background-color: rgba(236, 236, 236, 1);
	-webkit-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 3px 3px 0px rgba(0,0,0,0.3);
	padding-top: 30px;
}
.cont-general, .ini-ses{
	margin-left: auto;
	margin-right: auto;
	/*width: 100%;*/
	background-color: #ffffff;
	padding: 25px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); 
	text-align: center;
	margin-bottom: 20px;
	color: #183641;
	overflow: hidden;
}

.ini-ses h3{
	margin-bottom: 20px;
	text-align: center;
}
.cont-boton{
	margin-left: auto;
	margin-right: auto;
}
.boton-general{
	background-color: #20566e;
	color: #FFFFFF;
	padding: 10px 30px;
	display:inline-block;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.boton-eliminar{
	background-color: #FF6248;
	color: #FFF;
	padding: 10px 17px;
	display: inline-block;
	text-decoration: none;
	border-radius: 50%;
}
.boton-eliminar:hover{
	background-color: #F92300;
	text-decoration: underline;
}

.elemento-listado-sencillo{
	background-color: #ECECEC;
	padding: 10px 30px;
	display:inline-block;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px 20px;
}

.boton-general:hover{
	background-color: #4699b7;
	text-decoration: underline;
}

.boton-menu {
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	/*display: block;*/
	width: 40px;
	height: 40px;
	float: left;
	margin-top: 19px;
	margin-left: 19px;
	/*position: absolute;
	top: 0;
	left: 10px;
	padding-top: 2%;*/
}

.mm-menu {
	background: none repeat scroll 0% 0% #183641 !important;
	color: #94CFC9 !important;
}
.mm-list {
	font-size: 120% !important;
}

#menu ul{
	margin-top: 100px;
}
.mm-page{
	position: inherit !important;
}
#menu ul li{
	float: none;
}